<?xml version="1.0"?>
<robot name="assem1" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="assem1_base.xacro" />
    <xacro:include filename="assem1_arm.xacro" />
    <xacro:include filename="assem1_sensors.xacro" />

    <material name="metallic_blue">
        <color rgba="0.0 0.2 0.6 1.0"/>
    </material>
    <material name="dark_gray">
        <color rgba="0.2 0.2 0.2 1.0"/>
    </material>

</robot>